@import "src/global";

ion-card ion-button {
  margin-top: 1.5rem;
}

ion-text {
  font-size: 12px;
  color: var(--ion-color-danger);
}


.card {
  margin-top: 2rem;
}

.d-flex {
  display: flex;
}

.symbol {
  color: var(--ion-color-dark);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ltp-block {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-bottom: 5px;
}

.ltp-block .ltp {
  color: var(--ion-color-medium);
  font-size: $font-size-3;
  margin-right: 0.5rem;
}

.ltp-block ion-icon {
  width: 18px;
  height: 18px;
  align-self: flex-start;
}

.ltp-block .ltp-price {
  font-size: $font-size-1;
}

.item {
  width: 50%;
}

.action-button span {
  color: white;
  font-size: 1.2rem;
}
