<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="watchlist">
      <ion-label>Watchlist</ion-label>
      <ion-icon name="list-outline" color="ion-color-secondary"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="portfolio">
      <ion-label>Portfolio</ion-label>
      <ion-icon name="briefcase-outline" color="ion-color-secondary"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="orders">
      <ion-label>Orders</ion-label>
      <ion-icon name="time-outline" color="ion-color-secondary"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
