ion-backdrop {
  opacity: 0.2;
}

.menu-title {
  padding: 1.5rem 5rem 1.5rem 1.5rem;
}

.menu-item-list {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.logout {
  margin-top: auto;
}
