@import "src/global";

ion-title {
  font-size: $font-size-1;
}

.watchlist-picker {
  display: flex;
  flex-direction: column;
}

.watchlist-picker > p {
  margin: 0;
  font-size: $font-size-3;
  color: var(--ion-color-medium);
}

.watchlist-picker ion-icon {
  margin-left: 0.5rem;
}

.sort-logo {
  margin: 0;
  padding: 0;
}

.sort-logo > ion-icon {
  margin-left: 1rem;
}

.empty-list {
  padding: 15vh 2rem 2rem 2rem;
  vertical-align: center;
  color: var(--ion-color-medium);
  font-size: $font-size-1;
}

