<ion-header>
  <ion-toolbar color="primary">
    <!--  Non-Search mode  -->
    <ion-menu-button slot="start" *ngIf="!isSearching"></ion-menu-button>
    <ion-title *ngIf="!isSearching">Notifications</ion-title>
    <ion-item slot="end" color="primary" *ngIf="!isSearching">
      <ion-icon name="search-outline" (click)="onSearch()"></ion-icon>
    </ion-item>
    <!--  Search mode  -->
    <div class="searchbar" *ngIf="isSearching">
      <ion-icon
        class="icon"
        size="large"
        src="../../../assets/svg/arrow-left.svg"
        slot="start"
        (click)="onCancel(inputRef)"></ion-icon>
      <ion-input
        autofocus
        #inputRef
        (ionChange)="onInputChange($event)"
        placeholder="Enter text to search"
        slot="start"></ion-input>
      <ion-icon class="icon" size="large" name="close-outline" slot="end" (click)="onCancel(inputRef)"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-notification-item
    *ngFor="let notificationItem of listedNotificationItems; let i = index;"
    [notificationItem]="notificationItem"
    (click)="onNotificationItemClick(notificationItem, i)"></app-notification-item>
</ion-content>
