@import "src/global";

.searchbar {
  display: flex;
  align-items: center;
}

.icon {
  margin: 0 1rem;
  width: 24px;
  height: 24px;
}

.empty-list {
  padding: 35vh 2rem 2rem 2rem;
  color: var(--ion-color-medium);
  font-size: $font-size-1;
  text-align: center;
}
